<div id="wrapper" class="container">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Scrapper</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Saved Articles</a>
        </li>
        <li class="nav-item">
          <button id="NewArticles" class="btn btn-outline-success my-2 my-sm-0" type="button">Get New Articles</button>
        </li>
      </ul>
    </div>
  </nav>
  <div id="pic">
  </div>
  
  <div id="articles">
    <div class="card text-white bg-primary mb-3" style="max-width: 100%;">
      <div class="card-header">Aticle Text/ title</div>
      <div class="card-body">
        <h5 class="card-title"></h5>
        <a href="www.google.com" style="color:white">Article Link </a>
        <a href="www.google.com" class="btn btn-success" id="save Aticle" style="float: right">Save Article</a>
      </div>
    </div>
  </div>
</div>