<div id="wrapper" class="container">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Scrapper</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" id = "home" >Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id = "savedArticles" href="#">Saved Articles</a>
        </li>
        <li class="nav-item">
          <button id="NewArticles" class="btn btn-outline-success my-2 my-sm-0" type="button">Get New Articles</button>
        </li>
      </ul>
    </div>
  </nav>
  <div id="pic">
  </div>
  
  <div id="articles">
    
      </div>
    </div>
  </div>
</div>